$color-primary: rgb(255, 68, 31);
$color-secundary: rgb(42, 207, 134);
$shadow-primary: #ff383825;
$color-alterno: #fff;
$color-text-primary: #fff;
$color-text-secundary: #ccc;
$color-background: #262626;
$color-background-alterno: #3f3f3f;

